# Configure the macros in this file to reflect dependencies on your system
# Note: implicitly assumes that Make.config has been imported already.

# NPROCS (number of processors) can be set when invoking make, e.g.,
# make NPROCS=8 run
NPROCS ?= 4

# You may choose to configure DATADIR for distinct problems.
DATADIR := ${EXAMPLEDIR}/data

# PARAMETERFILE is the location of the parameter file the PAMPAC library will
# parse to determine run-time options. Details on the contents of the file
# are described in the User Manual.
PARAMETERFILE := ${EXAMPLEDIR}/parameters.txt

# SRC_INCDIRS sets tells the compiler where to find header .h 
# files when building with sources local to this directory
# Note: use the raw directory paths (i.e., no -I prefix required here).
SRC_INCDIRS += ${SRCDIR} /usr/include/atlas

# TGT_LDFLAGS tells the compiler in which directories libraries can be
# found when linking. Note: you must include the prefix "-L" on each path.
TGT_LDFLAGS += -L/usr/lib/atlas-base

# TGT_LDLIBS specifies other library and object files to link against.
# Note: for libraries, you need the "-l" prefix here
TGT_LDLIBS += -lpampac -llapack_atlas -lgsl -lgslcblas -lm

