# Configure the macros in this file to reflect dependencies on your system

# Configure the parameter TOPDIR for the top-level directory; everything else
# will be built in a hierarchy descending from this directory.
TOPDIR := /home/dhavide/repositories/pampac
EXAMPLEDIR := ${TOPDIR}/example
SRCDIR := ${TOPDIR}/src

# Paths to the MPI-enabled C compiler, etc.
CC := /usr/bin/mpicc
CFLAGS := -std=c99 -g -Wall
MPIEXEC := /usr/bin/mpiexec

# INCDIRS contains paths to include for .h header files (no -I prefix)
INCDIRS := /usr/include/gsl

# TGT_LDFLACS contains paths to search for libraries (-L prefixes required)
TGT_LDFLAGS := -L${TOPDIR}/lib

# TGT_LDFLAGS contains libraries to link against (-l prefixes required)
# Initialised here as empty; modified in ${EXAMPLEDIR}/driver.config
TGT_LDLIBS := 
